@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@300&family=Shadows+Into+Light&display=swap');

body{
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    background: url('/background.jpg') no-repeat center center fixed; 
    background-size: cover; 
    background-color: grey;
}

.article{
    background-color: white;
}

h1{
    font-size: 1.5em;
    padding-left: 30px;
}

#welcome{
    width: 600px; 
    height: 100px; 
    margin: 20px; 
    padding: 10px; 
    border: 3px solid #333; 
    box-sizing: border-box; 
}

.featured {
    font-size: 1.25em;
}

.technical-author {
    background-color: black;
    color: white;
}

.career-author {
    background-color: purple;
    color: white;
}

header {
    position: fixed;
    top: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

@media (max-width: 767px) { 
  
    header, section, article, footer, nav, .column-layout {
      width: 100%;
      box-sizing: border-box;
    }

    img{
      width: 100%;
      height: auto;
    }
  
    p {
      font-size: 18px;
      line-height: 1.6; 
    }

    #logo {
      width: 50px; 
      height: auto; 
    }
  }

@media (min-width: 768px) { 
  
    header, footer {
      width: 100%;
      position: fixed;
    }
    
    header {
        bottom: 0; 
      }

    footer {
        bottom: 0; 
      }
    
    .featured {
      width: 80%;
      margin: 0 auto; 
      box-sizing: border-box; 
    }
    
    .category {
      display: flex; 
      flex-wrap: wrap;
      justify-content: space-between; 
      margin-bottom: 20px;
    }
    
    .category-article {
      width: 33%;
      box-sizing: border-box;
    }
    
    
    #logo {
      width: 200px; 
      height: auto; 
    }
    
  }

.required{
    border: 2px solid red;
}
  
  